.slick-list{
  overflow: hidden;
}
.slick-track{
  display: flex;
}
.slider-main{
  width: 100%;
}
.slider-main-item{
  >img{
    width: 100%;
    min-height: 805px;
  }
}
.second-slider-item{
  width: 100%;
  padding-left: 10px;
}
.third-slider{
  max-width: 65px;
}
.third-slider-item{
  font-family: 'Intro Black Regular', sans-serif;
  font-size: 45px;
  font-weight: 700;
  width: 100%;
}
.slider-arrow-cont{
  display: flex;
  user-select: none;
  &:hover{
    cursor: pointer;
  }
}
.slider-arrow-left{
  margin-right: 191px;
  margin-bottom: 15px;
}
.slider-dots{
  position: absolute;
  left: 475px;
  bottom: 333px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 12;
  >li{
    margin-right: 14px;
    list-style: none;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    &.slick-active{
      position: relative;
      &:before{
        content: '';
        width: 9px;
        height: 9px;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 2px;
        background: #ffffff;
      }
    }
    &:nth-of-type(4){
      margin-right: 0;
    }
    >button{
      display: none;
      content: none;
      border: none;
      border-radius: 50%;
      width: 16px;
      height: 16px;
    }
  }
}
@media screen and(max-width: 769px) {
  .slider-main-item{
    >img{
      width: 100%;
      min-height: 403px;
    }
  }
  .third-slider{
    max-width: 45px;
  }
  .third-slider-item{
    font-size: 30px;
  }
  .slider-dots{
    left: 108px;
    bottom: 27px;
  }
}
@media screen and (max-width: 415px){
  .slider-main-item{
    >img{
      width: 100%;
      min-height: 203px;
    }
  }
  .third-slider{
    max-width: 25px;
  }
  .third-slider-item{
    font-size: 20px;
  }
  .slider-arrow-cont{
    margin-top: 20px;
  }
  .slider-arrow-left, .slider-arrow-right{
      width: 15px;
      height: 10px;
      >img{
        width: 100%;
        height: auto;
      }
  }
  .slider-dots{
    left: 96px;
    bottom: 26px;
  }
}